.git*                       export-ignore
.commitlintrc.yaml          export-ignore
.editorconfig               export-ignore
.pre-commit-config.yaml     export-ignore
.prettierignore             export-ignore
.prettierrc.js              export-ignore
.cspell.json                export-ignore
project-words.txt           export-ignore

demos                       export-ignore
