.git*                       export-ignore
.pre-commit-config.yaml     export-ignore
.commitlintrc.yaml          export-ignore
.editorconfig               export-ignore
.cspell.json                export-ignore
.python-version             export-ignore
release.sh                  export-ignore
docs/make.sh                export-ignore

demos                       export-ignore
